<blockquote>
  <p>JointEDU Platform is demanding to create a center of education from every part of the world to support education for anyone at any level.</p>
  <footer><a href="https://jointedu.io/" target="_blank">https://jointedu.io/</a></footer>
</blockquote>