<blockquote>
  <p>Lendingblock is a securities lending platform for the cryptoeconomy. Borrow or lend any cryptocurrency.</p>
  <footer><a href="https://lendingblock.com" target="_blank">https://lendingblock.com</a></footer>
</blockquote>