<blockquote>
  <p>ScudoCash is the erc20 token that funds the decentralized platform of free announcements bitbazar.io</p>
  <footer><a href="https://scudocash.com/" target="_blank">https://scudocash.com/</a></footer>
</blockquote>
