<blockquote>
  <p>Snowball is a crypto currency that can be used for all kinds of entertainment.</p>
  <footer><a href="https://onlinegamecoin.com/" target="_blank">https://onlinegamecoin.com/</a></footer>
</blockquote>
