<blockquote>
  <p>BlitzPredict aims to bring the power of blockchain technology to the mass consumer via streamlined products.</p>
  <footer><a href="https://www.blitzpredict.io" target="_blank">https://www.blitzpredict.io</a></footer>
</blockquote>